


    {{> head}}
    {{> navbar }}

    <div class="row">

        <div class= "col-8">
            <h1> 
                Imagen Prueba
            </h1>
                  <p>-varguy</p>
        </div>

        <div align="center">                   
            <img src="assets/img/varguy-art1.jpg" alt="img-thumbnail" style="width: 625px; height:532;">
  
        </div>

    </div>

 

    {{> footer}}












